@import url('https://fonts.googleapis.com/css2?family=Miniver&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #dfcdff;
}

#logo {
    margin: 30px auto;
    font-family: 'Miniver';
    font-size: 84px;
    text-shadow: -4px 4px #ef3550,
               -8px 8px #f48fb1,
               -12px 12px #7e57c2,
               -16px 16px #2196f3,
               -20px 20px #26c6da;
}

main {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}
.settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    width: 500px;
    height: 500px;
    margin: 50px auto;
    border: solid 3px black;
    border-radius: 5px;
    box-shadow: #fcfcfc 10px 10px, black 12px 12px;
    cursor: crosshair;
    flex-shrink: 0;
}

.grid {
    background-color: white;
    border: solid 1px #fafafa;
}

.btn {
  background-color: #000;
  border: 1px solid #000;
  border-radius: 4px;
  box-shadow: #fff 4px 4px 0 0, #000 4px 4px 0 1px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  padding: 12px 40px;
  text-align: center;
  margin: 20px 20px;
  width: 150px;
  height: 90px;
  font-family: 'Miniver';
}

.btn:hover {
  opacity: 0.9;
  bottom: 5px;
}

.btn.color {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
    background-color: #00FFD5;
    border: 1px solid black;
    box-shadow: #fff 4px 4px 0 0, black 4px 4px 0 1px;
}

.colorPicker {
    border: none;
    height: 65px;
    width: 120px;
    padding: 0;
    background-color: #00FFD5;
    cursor: pointer;
}

.btn.gridSize {
    box-sizing: content-box;
    width: 120px;
    height: 50px;
    padding: 19px 14px;
}

.btn.rainbow {
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 100%);
}

.slider {
   appearance: none;
   width: 100%;
   height: 5px;
   border-radius: 20px;
   margin-top: 20px;
   appearance: sliderthumb-horizontal;
   
}
.slider::-webkit-slider-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
    
}
footer {
    display: flex;
    margin-top: 20px;
    bottom: 0;
    font-size: 15px;
    height: 30px;
    align-items: center;
}

img {
    height: 18px;
    width: 18px;
    margin-left: 5px;
    margin-top: 5px;
}

@media (max-width: 650px) {
    
    main {
        flex-direction: column;
    }
    .settings {
        flex-direction: row;
        margin-top: 50px;
        justify-content: center;
    }
    #container {
        margin-top: 10px;
        width: 450px;
        height: 450px;
    }
    .btn {
        height: 150px;
        width: 80px;
        padding: 0;
    }
    .colorPicker {
        height: 120px;
        width: 65px;
    }
    .btn.color {
        padding-top: 10px;
    }
    .btn.gridSize {
        padding: 10px 5px 118px 5px;
        height: 20px;
        width: 68px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .slider {
        width: 5px;
        height: 430%;
        margin: 5px 0;
        appearance: slider-vertical;
    }
}

